header {
    padding: 4px;
    margin: -9px;
    background-color: black;
    font-size: 0.8em;
    color: white;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: left;
    margin-top: 1%;
    align-items: center;
}

.redes {
    display: flex;
    justify-content: right;
    align-items: top;
    margin-top: -4%;
}

.img_1{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.btn {
    position: absolute;
    top: 60%;
    padding: 15px 15px;

}

.img_2_3{
    display: flex;
    margin-left: 23px;
    justify-content: center;
}

.btn_1{
    position: absolute;
    top: 133%;
    left: 29%;
    padding: 15px 10px;
}

.btn_2{
    position: absolute;
    top: 133%;
    left: 61%;
    padding: 15px 10px;
}

.image{
    margin-right: 25px;
    margin-top: 25px;
}

.linea{
    padding: 2px;
    margin: 320px;
    background-color: black;
    margin-top: 3%;
}

.favotritos{
    font-size: 1.7em;
    text-align: center;
    margin-top: -16%;
}

.patinetas{
    display: flex;
    justify-content: center;
}

.btn_3{
    position: absolute;
    top: 228%;
    padding: 15px 10px;
    background-color: black;
    color: white;
}

.playeras{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    margin-left: -1%;
}

.btn_4{
    position: absolute;
    top: 270%;
    padding: 15px 10px;
    background-color: black;
    color: white;
}

.girls{
    display: flex;
    justify-content: center;
    margin-top: 7%;
    margin-right: 1%;
}

.btn_5{
    position: absolute;
    top: 317%;
    padding: 15px 10px;
    background-color: black;
    color: white;
}

.Media_mensaje {
    padding: 7px;
    margin: 600px;
    font-size: 1.1em;
    text-align: center;
    margin-top: 5.6%;
    border: 1px solid;
    border-radius: 9px;
}

.linea_2{
    padding: 2px;
    margin: 320px;
    background-color: black;
    margin-top: -580px;
}

.video{
    position: absolute;
    overflow: hidden;
    top: 336%;
    left:19%;

}

.Media_mensaje_2{
display: flex;
align-items: center;
padding: 1px;
font-size: 1.1em;
margin: 650px;
margin-top: 44%;
border: 1px solid;
border-radius: 9px;
justify-content: center;
}

.linea_3{
    padding: 60px;
    margin: -8.2px;
    background-color: black;
    margin-top: -640px;
    font-size: 1.3em;
    color: white;
    text-align: left;
}

.letras_2{
    font-size: 1em;
    text-align: center;
}

